.galleryItemImgFluid {
  height: 200;
  width: 400;
  margin: 15px;
  box-shadow: 0 4px 8px 0 rgba(0, 0, 0, 0.2), 0 6px 20px 0 rgba(0, 0, 0, 0.19);
}

.hvr-grow {
  display: inline-block;
  vertical-align: middle;
  -webkit-transform: perspective(1px) translateZ(0);
  transform: perspective(1px) translateZ(0);
  box-shadow: 0 0 1px rgba(0, 0, 0, 0);
  -webkit-transition-duration: 0.3s;
  transition-duration: 0.3s;
  -webkit-transition-property: transform;
  transition-property: transform;
}
.hvr-grow:hover,
.hvr-grow:focus,
.hvr-grow:active {
  -webkit-transform: scale(1.1);
  transform: scale(1.1);
}

.imageButton {
  background: transparent;
  border: none;
  outline: none;
}

.imageButton:hover {
  color: transparent;
  background-color: transparent;
  border-color: transparent;
}

.imageButton:hover,
.imageButton:focus,
.imageButton:active,
.imageButton:active:focus:not(:disabled):not(.disabled),
.imageButton:focus,
.imageButton:active,
.imageButton:hover {
  box-shadow: none !important;
  outline: 0;
  background: transparent;
}
