.register-form {
  position: relative;
  top: 0;
  bottom: 0;
  left: 0;
  right: 0;
  margin-top: 400px;
  height: 20px;
}

form button {
  margin-bottom: 20px;
}

form label {
  font-weight: bold;
}
