.following-card {
  height: 400px;
  width: 300px;
  color: black;
  background: whitesmoke; /* fallback for old browsers */
}

.following-card-body {
  color: purple;
}

@media screen and (max-width: 600px) {
  #followingComponent {
    visibility: hidden;
    clear: both;
    float: left;
    margin: 10px auto 5px 20px;
    width: 28%;
    display: none;
  }
}

.scroll {
  max-height: 300px;
  overflow-y: auto;
}

.followingImg{
  height: 60px;
  width: 60px;
}